<!-- views/notes/new -->

<article class="xviews xnotes xnew">
  <div class="allNotes">
  <h1>Ah Ha</h1>
  <div class='notes-container'>
    <% if @scoreboard.id%>
    <% p @scoreboard %>
      <div class="Breakline"></div>
      <%= form_for [@scoreboard, @note], :html => {:class => "note-form"} do |f| %>

        <%= f.label :title, "Subject" %>:
        <%= f.text_field :title  %><br>
        <%= f.label :body, "What I learned" %>
        <%= f.text_field :body %><br>
        <%= f.hidden_field :note_type, value: 'a' %>
        <%= f.hidden_field :scoreboard_id, value: "#{@scoreboard.id}" %>
        <%= f.submit %>
      <% end %>
    </div>
    <h1>Blockers</h1>
    <div class='notes-container'>
      <div class="Breakline"></div>


      <%= form_for [@scoreboard, @note], :html => {:class => "note-form"} do |f| %>
        <%= f.label :title, "Subject:"  %>
        <%= f.text_field :title %><br>
        <%= f.label :body, "Embrace confusion" %>
        <%= f.text_field :body %><br>
        <%= f.hidden_field :note_type, value: 'b' %>
        <%= f.hidden_field :scoreboard_id, value: "#{@scoreboard.id}" %>
        <%= f.submit %>
      <% end %>
    </div>
  <h1>Feedback</h1>
  <div class='notes-container'>
    <div class="Breakline"></div>


    <%= form_for [@scoreboard, @note], :html => {:class => "note-form"} do |f| %>
      <%= f.label :title, "For whom?" %>
      <%= f.text_field :title %><br>
      <%= f.label :body, "ASK Feedback" %>
      <%= f.text_field :body %><br>
      <%= f.hidden_field :note_type, value: 'f' %>
      <%= f.hidden_field :scoreboard_id, value: "#{@scoreboard.id}" %>
      <%= f.submit %>
    <% end %>
  </div>
  <% end %>
</div><!-- END All Notes -->
</article>

<div class="downLoadNotes">
<%= link_to "Download Notes", scoreboards_download_path %>
</div>
