

<%= @user.username %> <br><br><br>

TOTAL DAY POINTS: <%= @user.total_days_points %> <br>
<% if !@user_scoreboards.size.zero? %>
  AVERAGE POINTS PER DAY: <%= (@user.total_days_points) / (@user_scoreboards.size) %> <br>
<% else  %>
  AVERAGE POINTS PER DAY: 0 <br>
<% end %>

TOTAL COMMITS: <%= @total_commits %> <br>

<% if !@user_scoreboards.size.zero? %>
  AVERAGE COMMITS PER DAY: <%= (@total_commits) / (@user_scoreboards.size ) %> <br><br>
<% else  %>
  AVERAGE COMMITS PER DAY: 0 <br>
<% end %>

LEVEL: <%= @user.level %><br>
EXP: 100/<%= @user.level_extra %>%


<%= pie_chart @user_scoreboards.group(:day).sum(:week) , width: "500px", height: "200px" %>



<!-- Filename: app/views/dashboard/index.html.erb -->

<h3>My Chart</h3>
<div id="chartContainer"><%= @chart.render() %></div>
