  <div class="eeButtons">
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
  	<%= f.submit "Get to campus on time" %>
  <% end %>
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
    <%= f.submit "Make a commit" %>
  <% end %>
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
    <%= f.submit "Ask someone for help" %>
  <% end %>
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
    <%= f.submit "Help someone out" %>
  <% end %>
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
    <%= f.submit "Take a break" %>
  <% end %>
  <%= form_for @scoreboard, :html => {:class => "ee-btns"} do |f| %>
    <%= f.submit "Give ASK Feedback" %>
  <% end %>
</div>
