<nav class="xheader">
	<% if logged_in? %>
		<%#= link_to "Logout", :logout %>
    <%= link_to :logout, class: "gitHubBtn" do %>
        <div class="gitHubLogo"></div>
        <div class="logText">Logout of GitHub</div>
    <% end %>


 	 	<p> Hey, <%= current_user.username %>!</p><br>
 	 	<p> Your email <%= current_user.user_hash['extra']['raw_info']['email'] %>!</p><br>
 	 	<p> Total private repos <%=  current_user.user_hash['extra']['raw_info']['total_private_repos'] %>!</p><br>
 	 	<p> Total public repos <%=  current_user.user_hash['extra']['raw_info']['public_repos'] %>!</p><br>

		<img src="<%= current_user.picture_url %>" alt="Smiley face" height="150" width="150">


		<%# @github_response.each do |x|  %>
		<%#= p x %>
		<%# end %>

 	<%else%>
		<%#= link_to "", :github_auth, class: "gitHubLogIn" %>

    <%= link_to :github_auth, class: "gitHubBtn" do %>
        <div class="gitHubLogo"></div>
        <div class="logText">Login with GitHub</div>
    <% end %>

	<% end %>
</nav>
